background {
    &-light {
        background-color: $light;
    }

    &-smoke {
        background-color: $smoke;
    }

    &-mono {
        background-color: $mono;
    }

    &-gray {
        background-color: $gray;
    }

    &-dark {
        background-color: $dark;
    }
}

.radius {
    &-xs {
        border-radius: $radius-xs;
    }

    &-md {
        border-radius: $radius-md;
    }

    &-bg {
        border-radius: $radius-bg;
    }
}

.border {
    @at-root .has-border {
        border: $border;
        overflow: hidden;
    }

    &-top {
        border-top: $border;
    }

    &-bottom {
        border-bottom: $border;
    }

    &-left {
        border-left: $border;
    }

    &-right {
        border-right: $border;
    }
}

.padding {
    @at-root .has-padding {
        padding: $padding;
    }

    &-xs {
        padding: $font-size-xs;
    }

    &-md {
        padding: $gap;
    }

    &-bg {
        padding: $font-size-bg;
    }
}

.has-shadow {
    box-shadow: $shadow;
}