.text {
    // color

    &-primary {
        color: darken($primary, 10%);
    }

    &-error {
        color: darken($red, 10%);
    }

    &-success {
        color: darken($green, 10%);
    }

    &-light {
        color: $light;
    }

    &-smoke {
        color: $smoke;
    }

    &-mono {
        color: $mono;
    }

    &-gray {
        color: $gray;
    }

    &-dark {
        color: $dark;
    }

    // style

    &-uppcase {
        text-transform: uppercase;
    }

    &-lowcase {
        text-transform: lowercase;
    }

    &-capcase {
        text-transform: capitalize;
    }

    &-firstcase {
        text-transform: lowercase;

        &::first-letter {
            text-transform: uppercase;
        }
    }

    &-title {
        font-family: $font-family-title;
    }

    @at-root {
        p a,
        small a,
        &-link {
            color: $primary;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    // size

    &-xs {
        font-size: $font-size-xs;
    }
}