%control {
    min-height: $height;
    font: inherit;
    background: none;
    border: $border;
    border-radius: $radius-normal;
    padding: $padding;
    display: inline-flex;
    align-items: center;

    &[disabled],
    fieldset[disabled] & {
        @include disabled;
    }

    &.is-spread {
        width: 100%;
        flex: 1;
    }
}

%sizable {
    &.is-small {
        font-size: $size-small;
    }

    &.is-normal {
        font-size: $size-medium;
    }

    &.is-large {
        font-size: $size-large;
    }
}

%addonable {
    > %addon {
        &:first-child {
            margin-right: $padding-vertical;
        }
    
        &:last-child {
            margin-left: $padding-vertical;
        }
    
        &:first-child:last-child {
            margin: 0;
        }
    }
}
