%control {
    @extend %element;

    min-height: $height;
    font: inherit;
    background: none;
    border: $border;
    border-radius: $radius-md;
    padding: 0 $padding-vertical;
    display: inline-flex;
    align-items: center;

    &[disabled],
    fieldset[disabled] & {
        color: $gray;
        cursor: no-drop;
        user-select: none;
        box-shadow: none;
        pointer-events: none;
        background-color: $light;
    }

    &.is-spread {
        width: 100%;
        flex: 1;
    }
}

%sizable {
    &.is-small {
        font-size: $size-xs;
    }

    &.is-large {
        font-size: $size-bg;
    }
}

%addonable {
    gap: $padding-vertical;
}

%separator {
    width: 100%;
    height: $border-width;
    display: block;
    border: none;
    background-color: $border-color;
}
