@use "../variables" as *;

.rounded {
    overflow: hidden;

    &-circle {
        border-radius: 100rem;
    }
    
    &-1 {
        @extend .rounded;
        border-radius: $radius-1;
    }

    &-2 {
        @extend .rounded;
        border-radius: $radius-2;
    }

    &-3 {
        @extend .rounded;
        border-radius: $radius-3;
    }

    &-4 {
        @extend .rounded;
        border-radius: $radius-4;
    }
}