$content-gap: $gap !default;
$content-padding: $gap !default;
$content-width: $max-width !default;

.content {
    @include gapped($content-gap);
    @extend %sizable;
    
    &.has-gap {
        padding: $content-padding;

        > section,
        > section > article {
            @include gapped($content-gap);
        }
    }
}
