$content-gap: $gap !default;
$content-padding: $gap !default;
$content-width: $max-width !default;

.content {
    @extend %sizable;

    position: relative;

    &,
    > section,
    > section > article {
        @include gapped($content-gap);
    }
    
    &.has-gap {
        padding: $content-padding;
    }

    &.is-centered {
        width: 100%;
        max-width: $max-width;
        margin: 0 auto;
    }
}
