$page-sidebar-max-width: 35vw !default;
$page-sidebar-width: min(#{$sidebar-width}, #{$page-sidebar-max-width}) !default;

.page {
    position: relative;
    min-height: 100vh;
    display: grid;
    grid-template-columns: $page-sidebar-width 1fr;
    grid-template-rows: $navbar-height auto;
    grid-template-areas: "sidebar body";

    > .sidebar {
        grid-area: sidebar;
        width: $sidebar-width;
        max-width: $page-sidebar-max-width;
        height: 100vh;
        position: fixed;
        top: 0;
        overflow-y: auto;
        border-right: $border;
    }

    > .content {
        grid-area: body;
    }

    &.has-navbar {
        grid-template-areas: "sidebar navbar" "sidebar body";

        > .navbar {
            grid-area: navbar;
        }
    }

    @media (max-width: $md) {
        grid-template-columns: auto;
        grid-template-rows: $navbar-height auto;
        grid-template-areas: "body";
        
        &.has-navbar {
            grid-template-areas: "navbar" "body";
        }

        > .sidebar {
            width: $sidebar-width;
            max-width: $sidebar-max-width;
            z-index: 11;
            transform: translateX(-100%);
            
            &.is-active {
                box-shadow: $sidebar-shadow-left;
                transform: translateX(0);
            }
        }
    }
}