.page {
    position: relative;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: $navbar-height auto;
    grid-template-areas: "navbar" "body";

    &.has-sidebar > .sidebar {
        grid-area: sidebar;
        width: $sidebar-width;
        max-width: 35vw;
        height: 100vh;
        position: fixed;
        top: 0;
        overflow-y: auto;
        border-right: $border;
        transition: transform ease $transition-duration;
    }
    
    > .navbar {
        grid-area: navbar;
    }
    
    > .content {
        grid-area: body;
    }
    
    @media (min-width: $md) {
        &.has-sidebar {
            grid-template-columns: min(#{$sidebar-width}, 35vw) 1fr;
            grid-template-areas: "sidebar navbar" "sidebar body";
        }
    }

    @media (max-width: $md) {
        &.has-sidebar > .sidebar {
            width: $sidebar-width;
            max-width: $sidebar-max-width;
            z-index: 4;
            transform: translateX(-100%);
            
            &.is-active {
                box-shadow: $sidebar-shadow-left;
                transform: translateX(0);
            }
        }
    }
}