$box-padding: 1.1rem 1.4rem !default;
$box-transition: border-color ease $transition-duration, box-shadow ease $transition-duration !default;
$box-radius: $radius-normal !default;

$box-hover-shadow: 0 0.2rem 0.8rem rgba($black, 0.06) !default;

$box-active-shadow: 0 0 0 0.2rem rgba($primary, 0.08);

.box {
    @extend %element;

    border: $border;
    padding: $box-padding;
    border-radius: $box-radius;
    transition: $box-transition;

    &.is-hoverable {
        cursor: pointer;
        user-select: none;

        &:hover {
            box-shadow: $box-hover-shadow;
            color: $primary;
            z-index: 2;

            &.is-active {
                box-shadow: $box-hover-shadow, $box-active-shadow;
            }
        }

        &:active {
            box-shadow: none;
        }
    }

    &.is-active {
        box-shadow: $box-active-shadow;
        border-color: $primary;
        color: $primary;
        z-index: 1;
    }
}