$box-padding: 1.1rem 1.4rem !default;
$box-radius: $radius-md !default;

$box-hover-shadow: 0 0.2rem 0.8rem rgba($black, 0.06) !default;

$box-active-shadow: 0 0 0 0.2rem rgba($primary, 0.08);

.box {
    @extend %element;

    border: $border;
    padding: $box-padding;
    border-radius: $box-radius;
    transition: color ease $transition-duration, box-shadow ease $transition-duration;

    &.is-hoverable,
    &.is-link {
        cursor: pointer;
        user-select: none;

        &:hover {
            box-shadow: $box-hover-shadow;
            z-index: 2;
        }
    }

    &.is-link:hover {
        p, span, a {
            color: $primary;
        }
    }
}
