$card-height: 16rem !default;
$card-radius: $radius-large !default;
$card-shadow: 0 0.3rem 0.8rem rgba(black, 0.08) !default;
$card-padding: 1.4rem !default;
$card-border: $border !default;
$card-gap: 1rem !default;

.card {
    @include gapped($card-gap);

    min-height: $card-height;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: $card-border;
    border-radius: $card-radius;
    padding: $card-padding;
    box-shadow: $card-shadow;

    %card-header {
        @include gapped($card-gap);
        flex: 1;
    }

    %card-body {
        @include gapped(0.5rem);
    }

    %card-footer {
        border-top: $card-border;

        nav ul {
            @include gapped($card-gap, true);

            display: flex;
            padding-top: $card-padding;
            
            li {
                list-style: none;
            }
        }
    }

    > header,
    > .card-header {
        @extend %card-header;
    }

    > article,
    > .card-article {
        @extend %card-body;
    }

    > footer,
    > .card-footer {
        @extend %card-footer;
    }
}
