$card-height: 16rem !default;
$card-radius: $radius-bg !default;
$card-shadow: 0 0.2rem 0.6rem rgba(black, 0.05) !default;
$card-padding: 1rem 1.4rem !default;
$card-border: $border !default;
$card-gap: 0.65rem !default;

$card-hover-shadow: 0 0.5rem 0.9rem 0.01rem rgba(black, 0.07) !default;
$card-hover-elevation: 0.25rem !default;

.card {
    min-height: $card-height;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    border: $card-border;
    border-radius: $card-radius;
    box-shadow: $card-shadow;
    overflow: hidden;

    .card-header,
    .card-body,
    .card-footer {
        display: flex;
        flex-direction: column;
        padding: $card-padding;
        gap: $card-gap;
    }

    .card-image {
        flex: 1;

        img {
            width: 100%;
        }
    }
    
    .card-header {
        flex: 1;
    }

    .card-footer {
        flex-direction: row;
        border-top: $card-border;
        background-color: $light;
    }

    &.is-hoverable {
        user-select: none;
        transition: $transition;
        
        &:hover {
            cursor: pointer;
            transform: translateY(-$card-hover-elevation);
            box-shadow: $card-hover-shadow;
        }
    }
}
