$dropdown-shadow: 0 0.2rem 0.8rem rgba($black, 0.06) !default;
$dropdown-margin: 1rem !default;

$dropdown-dropup-shadow: 0 -0.3rem 1rem rgba($black, 0.1) !default;

.dropdown {
    @extend %element;

    position: relative;
    display: inline-flex;

    &.is-small .dropdown-menu {
        min-width: 14rem;
    }

    &.is-large .dropdown-menu {
        min-width: 22rem;
    }

    &.is-hoverable:not(:hover):not(.is-active),
    &:not(.is-active):not(.is-hoverable) {
        .dropdown-menu {
            visibility: hidden;
        }
    }
}

.dropdown > .dropdown-menu {
    border: $border;
    min-width: 16rem;
    border-radius: $radius-normal;
    position: absolute;
    background-color: $background;
    box-shadow: $dropdown-shadow;
    overflow: hidden;
    z-index: 2;

    // position

    &:not(.in-top):not(.in-bottom) {
        &.in-left {
            right: 100%;
            top: 50%;
            transform: translateY(-50%);
        }

        &.in-right {
            left: 100%;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &.in-top {
        top: 0;
        left: 50%;
        transform: translateY(-100%) translateX(-50%);

        &::before {
            top: 100%;
        }

        &.in-left {
            right: 0;
            left: initial;
            transform: translateY(-100%) translateX(0);
        }

        &.in-right {
            left: 0;
            transform: translateY(-100%) translateX(0);
        }
    }

    &.in-bottom {
        top: 100%;
        left: 50%;
        transform: translateX(-50%);

        &::before {
            top: 100%;
        }

        &.in-left {
            right: 0;
            left: initial;
            transform: translateX(0);
        }

        &.in-right {
            left: 0;
            transform: translateX(0);
        }
    }
}

.dropdown-item {
    @extend %addonable;

    width: 100%;
    padding: $padding;
}

a.dropdown-item {
    &:hover {
        background-color: $mono0;
    }
}
