$dropdown-shadow: 0 0.2rem 0.8rem rgba($black, 0.06) !default;
$dropdown-margin: 1rem !default;

$dropdown-dropup-shadow: 0 -0.3rem 1rem rgba($black, 0.1) !default;

.dropdown {
    @extend %element;

    position: relative;
    display: inline-flex;

    &::after {
        content: '';
        width: 100%;
        height: $dropdown-margin;
        left: 0;
        top: 100%;
        position: absolute;
    }

    // position

    &.in-up {
        &::after {
            top: initial;
            bottom: 100%;
        }

        .dropdown-menu {
            bottom: calc(100% + #{$dropdown-margin});
            top: initial;
        }
    }

    &.is-hoverable:not(:hover):not(.is-active),
    &:not(.is-active):not(.is-hoverable) {
        .dropdown-menu {
            visibility: hidden;
        }
    }
}

.dropdown > .dropdown-menu {
    border: $border;
    min-width: 14rem;
    border-radius: $radius-normal;
    position: absolute;
    top: calc(100% + #{$dropdown-margin});
    background-color: $background;
    box-shadow: $dropdown-shadow;
    overflow: hidden;
    z-index: 2;

    &.in-left {
        right: 0;
    }

    &.in-center {
        left: 50%;
        transform: translateX(-50%);
    }
}

.dropdown-item {
    @extend %addonable;

    width: 100%;
    padding: $padding;
    user-select: none;
}

a.dropdown-item {
    &:hover {
        background-color: $mono0;
    }
}
