$dropdown-shadow: $shadow !default;
$dropdown-margin: ($gap / 2) !default;

$dropdown-dropup-shadow: 0 -0.3rem 1rem rgba($black, 0.1) !default;

.dropdown {
    position: relative;
    display: inline-flex;

    &::before {
        content: "";
        display: block;
        width: 100%;
        height: $dropdown-margin;
        position: absolute;
        top: 100%;
    }

    %dropdown-body {
        border: $border;
        min-width: 11rem;
        border-radius: $radius-normal;
        position: absolute;
        background-color: $background;
        box-shadow: $dropdown-shadow;
        opacity: 0;
        visibility: hidden;
        overflow: hidden;
        top: calc(100% + #{$dropdown-margin});
        transition: opacity ease 0.2s, visibility ease 0.2s;
        z-index: 2;

        &,
        &.in-left {
            left: 0;
            right: initial;
        }

        &.in-right {
            right: 0;
            left: initial;
        }

        &.in-center {
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &.is-dropup {
        %dropdown-body {
            top: initial;
            bottom: calc(100% + #{$dropdown-margin});
            box-shadow: $dropdown-dropup-shadow;
        }

        &::before {
            top: initial;
            bottom: 100%;
        }
    }

    &.is-active,
    &.is-hoverable:hover {
        > %dropdown-body {
            opacity: 1;
            visibility: visible;
        }
    }

    ul {
        @extend %dropdown-body;

        li {
            width: 100%;
            list-style: none;

            a,
            &.has-content {
                width: 100%;
                padding: $padding;
            }

            a:hover {
                background-color: $mono0;
            }
        }
    }
}
