$hero-background: $mono0 !default;
$hero-padding: $gap !default;
$hero-height: 12rem !default;
$hero-hump: 3rem !default;

.hero {
    @include gapped($gap);

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: $hero-height;
    background: $hero-background;
    padding: $hero-padding;
    padding-top: $hero-hump;
    border-bottom: $border;

    > .tab {
        border-bottom: none;
        margin-bottom: -$gap;
    }
}