$hero-background: $light !default;
$hero-padding: $gap !default;
$hero-height: 10rem !default;
$hero-hump: 4rem !default;

.hero {
    display: flex;
    flex-direction: column;
    gap: $gap;
    justify-content: flex-end;
    min-height: $hero-height;
    background: $hero-background;
    padding: $hero-padding;
    padding-top: $hero-hump;
    border-bottom: $border;

    > .tab {
        border-bottom: none;
        margin-bottom: -$gap;
    }
}
