$modal-background: black !default;
$modal-padding: 2.5rem 2rem !default;
$modal-radius: $radius-large !default;
$modal-shadow: 0 0.4rem 0.8rem 0.1rem rgba($mono6, 0.2) !default;

.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($modal-background, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    visibility: hidden;
    z-index: 5;

    &.is-active {
        visibility: visible;
    }

    %modal-body {
        background-color: white;
        max-width: 90vw;
        max-height: 90vh;
        box-shadow: $modal-shadow;
        border-radius: $modal-radius;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding: $modal-padding;

        @include gapped($gap);

        &.is-small {
            width: 25rem;
            height: 15rem;
        }

        &,
        &.is-normal {
            width: 35rem;
            height: 30rem;
        }

        &.is-large {
            width: 60rem;
            height: 35rem;
        }

        &.has-content {
            justify-content: initial;
            align-items: initial;
            text-align: initial;
        }
    }

    > article,
    > .modal-body {
        @extend %modal-body;
    }

    @media (max-width: $sm) {
        align-items: flex-end;

        %modal-body {
            width: 100%;
            min-width: 100%;
            border-radius: $modal-radius $modal-radius 0 0;
        }
    }
}
