$navbar-gap: $gap !default;
$navbar-height: $height + ($padding-vertical * 2);
$navbar-background: $background !default;

.navbar {
    height: $navbar-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $navbar-background;
    padding: 0 $gap;
    border-bottom: $border;

    &.is-sticky {
        position: sticky;
        top: 0;
        z-index: 3;
    }

    nav,
    nav > ul {
        @include gapped($navbar-gap, true);

        display: flex;
        align-items: center;
        list-style: none;

        li {
            display: inline-flex;
        }

        > hr {
            width: $border-width;
            height: 1.5rem;
        }
    }
}