$sidebar-margin: $gap !default;

$sidebar-shadow-left: 0.4rem 0 1rem rgba(black, 10%) !default;
$sidebar-shadow-right: -0.4rem 0 1rem rgba(black, 10%) !default;

.sidebar {
    height: auto;
    display: block;
    background-color: $background;

    &.is-sticky {
        position: sticky;
        align-self: flex-start;
        top: 0;
    }

    .sidebar-menu {
        display: flex;
        gap: $sidebar-margin;
        flex-direction: column;
        align-items: flex-start;
        padding: $gap;

        .sidebar-item {
            @extend %addonable;

            display: inline-flex;
            padding: 0.4rem 0.6rem;
            transition: background-color ease 0.3s;
            border-radius: $radius-xs;
            user-select: none;

            &:hover {
                background-color: $light;
            }
        }
    }
}
