$sidebar-width: 20rem !default;
$sidebar-max-width: 80vw !default;
$sidebar-shadow-left: 0.3rem 0 0.5rem rgba(black, 0.06) !default;
$sidebar-shadow-right: -0.3rem 0 0.5rem rgba(black, 0.06) !default;
$sidebar-margin: 2rem !default;
$sidebar-transition-duration: $transition-duration !default;

.sidebar {
    height: auto;
    display: block;
    background-color: $background;
    transition: transform ease $sidebar-transition-duration;
    
    &.is-sticky {
        position: sticky;
        align-self: flex-start;
        top: 0;
    }
    
    &.is-fearful {
        max-width: $sidebar-max-width;
        width: $sidebar-width;
        height: 100%;
        max-height: 100vh;
        position: fixed;
        transform: translateX(-100%);
        top: 0;
        overflow-y: auto;
        box-shadow: $sidebar-shadow-left;
        border-right: $border;
        z-index: 4;

        &.is-active {
            transform: translateX(0%);
        }
    }

    menu {
        @include gapped($sidebar-margin);
        
        padding: $gap;
    }

    nav,
    nav > ul {
        @include gapped($sidebar-margin);

        list-style: none;
    }
}
