$tab-height: $height + ($padding-vertical * 2) !default;

.tab {
    position: relative;
    
    %tab-body {
        @include gapped(1rem, tre);
        
        display: flex;
        border-bottom: $border;
    }
    
    %tab-item {
        display: flex;
        align-items: center;
        position: relative;
        padding: $padding-vertical 0;
        cursor: pointer;
        
        &.is-active {
            color: $primary;

            &::before {
                content: "";
                width: 100%;
                height: $border-width * 2;
                display: block;
                position: absolute;
                bottom: 0;
                background-color: $primary;
            }
        }
    }

    > ul {
        @extend %tab-body;

        li {
            @extend %tab-item;
        }
    }

    // content

    %tab-content {
        margin-top: $gap;
    }

    > .content,
    > .container {
        @extend %tab-content;
    }
}