.toaster {
    max-width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: $gap;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.toaster-item {
    min-width: 10rem;
    max-width: 30rem;
    padding: 0.8rem 1rem;
    border-radius: $radius-md;
    border: $border;
    background-color: white;
    user-select: none;
    box-shadow: $shadow;

    &:not(:last-child) {
        margin-bottom: 0.5rem;
    }
}