$selection-background: rgba($primary, 0.2) !default;

*,
::after,
::before {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

::selection {
    background-color: $selection-background;
}

body {
    font-size: $size-normal;
    font-family: $family-text;
    color: $color;
    line-height: 1.6;
    overflow-x: hidden;
    background-color: $background;
    font-weight: $weight-text;
    -webkit-font-smoothing: antialiased;
}

code {
    $code-radius: $radius-small !default;
    $code-padding: 0.3rem 0.5rem !default;
    $code-background: $mono1 !default;

    font-size: $size-small;
    font-family: $family-mono;
    font-weight: $weight-mono;
    background-color: $code-background;
    padding: $code-padding;
    border-radius: $code-radius;
    display: inline-block;
}

small {
    display: block;
    font-size: $size-small;
    color: $mono4;
}

p {
    font-size: 1em;
}

abbr[title] {
    text-decoration: underline solid $mono3;
}

a {
    text-decoration: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    color: inherit;
}

hr,
.separator {
    @extend %separator;
}

li {
    list-style: none;
}

label[for] {
    cursor: pointer;
}

sup {
    font-size: 0.75em;
}
