$selection-background: rgba($primary, 0.2) !default;

*,
::after,
::before {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

::placeholder {
    user-select: none;
}

body {
    font-size: $font-size-md;
    font-family: $font-family-text;
    color: $color;
    line-height: 1.6;
    overflow-x: hidden;
    background-color: $background;
    font-weight: $font-weight-text;
    -webkit-font-smoothing: antialiased;
}

code {
    $code-radius: $radius-xs !default;
    $code-padding: 0.2em 0.4em !default;
    $code-background: $smoke !default;

    font-size: $font-size-xs;
    font-family: $font-family-text;
    font-weight: $font-weight-text;
    background-color: $code-background;
    padding: $code-padding;
    border-radius: $code-radius;
    display: inline-block;
    user-select: none;
}

small {
    display: block;
    font-size: $font-size-xs;
    color: $dark;
}

p {
    font-size: 1em;
}

abbr[title] {
    text-decoration: underline solid $gray;
}

a {
    text-decoration: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    color: inherit;

    p &,
    small &,
    &.is-link {
        color: $primary;
        cursor: pointer;

        &:hover {
            text-decoration: underline solid;
        }
    }
}

hr,
.separator {
    @extend %separator;
}

li {
    list-style: none;
}

label[for] {
    cursor: pointer;
}

sup {
    font-size: 0.75em;
}