%title {
    font-family: $font-family-title;
    font-weight: $font-weight-title;
}

.title,
h1,
h2,
h3,
h4,
h5,
h6 {
    @extend %title;
}

.title {
    font-size: clamp(2rem, 14vw, 4rem);
}

h1 {
    font-size: clamp(2rem, 12vw, 3.5rem);
}

h2 {
    font-size: clamp(1.5rem, 10vw, 2.5rem);
}

h3 {
    font-size: clamp(1rem, 8vw, 2.0rem);
}

h4 {
    font-size: clamp(1rem, 6vw, 1.6rem);
}

h5 {
    font-size: clamp(1rem, 5vw, 1.4rem);
}

h6 {
    font-size: clamp(1rem, 5vw, 1.2rem);
    font-weight: $font-weight-text;
}
