%title {
    font-family: $font-family-title;
    font-weight: $font-weight-title;
}

.title,
h1,
h2,
h3,
h4,
h5,
h6 {
    @extend %title;
}

.title {
    font-size: 4em;
}

h1 {
    font-size: 2.8em;
}

h2 {
    font-size: 2.2em;
}

h3 {
    font-size: 1.8em;
}

h4 {
    font-size: 1.6em;
}

h5, h6 {
    font-weight: $font-weight-text;
}

h5 {
    font-size: 1.3em;
}

h6 {
    font-size: 1.1em;
}
