$container-gap: 0.65rem !default;
$container-padding: $padding !default;

.container {
    display: flex;
    flex-direction: column;
    gap: $container-gap;
    position: relative;

    &.has-table {
        width: 100%;
        overflow-x: auto;
    }

    &.has-gap {
        padding: $container-padding;
    }
}
