$dashboard-sidebar-width: clamp(18rem, 40vw, 20rem);

.dashboard {
    position: relative;
    min-height: 100%;
    display: grid;
    grid-template-columns: $dashboard-sidebar-width 1fr;
    grid-template-areas: "sidebar body";

    > .sidebar {
        min-height: 100%;
        grid-area: sidebar;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        transition: all ease-out .4s;
        
        .sidebar-menu {
            height: 100%;
            width: $dashboard-sidebar-width;
            border-right: $border;
            overflow-y: auto;
            background-color: $background;
            transition: transform ease .5s;
        }
    }

    > .container,
    > .content {
        grid-area: body;
    }

    @media (max-width: $bg) {
        grid-template-columns: 1fr;
        grid-template-areas: "body";

        > .sidebar {
            width: 100vw;
            z-index: 4;
            visibility: hidden;
            opacity: 0;
            
            .sidebar-menu {
                transform: translateX(-100%);
            }
            
            &.is-open {
                visibility: visible;
                opacity: 1;
                background-color: rgba(0,0,0,.4);

                .sidebar-menu {
                    max-width: 90vw;
                    box-shadow: $sidebar-shadow-left;
                    transform: translateX(0);
                }
            }
        }
    }
}
