$button-background: $background !default;
$button-radius: $radius-md !default;
$button-color: contrast-color($button-background) !default;
$button-shadow: none !default;

$button-hover-shadow: $shadow !default;
$button-hover-background: rgba(0, 0, 0, 0.01) !default;

$button-active-shadow: none !default;

%button {
    @extend %control;
    @extend %addonable;

    text-decoration: none;
    user-select: none;
    cursor: pointer;
    text-align: center;
    color: $color;
    transition: background-color ease 0.3s, shadow ease-in 0.35s;

    &.is-spread {
        justify-content: center;
    }

    %icon {
        fill: $button-color;
    }

    &.is-small {
        min-height: auto;
        font-size: $font-size-xs;
        border-radius: $radius-xs;
        padding: 0.3rem 0.5rem;
    }

    &.is-loading {
        @include make-loader(1rem, $gray);

        color: transparent !important;
        position: relative;

        &::before {
            position: absolute;
            left: calc(50% - (#{$padding-horizontal} / 2));
        }
    }
}

@mixin make-button($theme: $button-background) {
    $color: contrast-color($theme);

    background-color: $theme;
    color: $color;
    box-shadow: $button-shadow;
    border: none;
    transition: box-shadow ease-in 0.14s, transform ease 0.2s;

    &:hover {
        box-shadow: $button-hover-shadow;
    }

    &:active {
        box-shadow: $button-active-shadow;
    }

    &[disabled] {
        opacity: 50%;
        box-shadow: none;
        transform: none;
    }

    &.is-loading::before {
        border-color: $color;
    }
}

button,
.button {
    @extend %button;

    &:hover {
        background-color: $button-hover-background;
    }

    &.is-ghost {
        border: none;
    }

    &.is-static {
        background-color: $light;
        cursor: default;
        color: $color;
        border: $border;
    }

    // colors

    &.is-primary {
        @include make-button($primary);
    }

    &.is-success {
        @include make-button($green);
    }

    &.is-error {
        @include make-button($red);
    }
}
