$button-background: $background !default;
$button-radius: $radius-normal !default;
$button-color: contrast-color($button-background) !default;
$button-shadow: none !default;
$button-margin: $gap / 4 !default;

$button-hover-elevation: 1px !default;
$button-hover-shadow: $shadow !default;

$button-active-shadow: none !default;

%button {
    @extend %control;
    @extend %addonable;

    text-decoration: none;
    user-select: none;
    cursor: pointer;
    text-align: center;
    color: $color;
    transition: background-color ease $transition-duration;

    &.is-spread {
        justify-content: center;
    }

    %icon {
        fill: $button-color;
    }

    // sizes

    &.is-small,
    &.is-large {
        min-height: auto;
    }

    &.is-small {
        font-size: $size-small;
        border-radius: $radius-small;
        padding: .3rem .5rem;
    }

    &.is-large {
        font-size: $size-large;
    }
}

@mixin make-button($background: $button-background) {
    $color: contrast-color($background);

    background: $background;
    color: $color;
    box-shadow: $button-shadow;
    border: none;
    transition: box-shadow ease-in .14s, transform ease .20s;

    &:hover {
        box-shadow: $button-hover-shadow;
    }

    &:active {
        box-shadow: $button-active-shadow;
    }

    @if $button-hover-elevation != 0px and $button-hover-elevation != 0 {
        &:hover {
            transform: translateY($button-hover-elevation * -1);
        }
    
        &:active {
            transform: translateY(0);
        }
    }

    %icon {
        fill: $color;
    }
}

button,
.button {
    @extend %button;

    &:hover {
        background: $mono0;
    }

    &.is-ghost {
        border: none;
    }

    &.is-static {
        background: $mono0;
        cursor: default;
        color: $color;
        border: $border;
    }

    // colors

    &.is-primary {
        @include make-button($primary);
    }

    &.is-success {
        @include make-button($green);
    }

    &.is-error {
        @include make-button($red);
    }
}

.buttons {
    @include grouped($button-margin);
}