$control-gap: 0.4rem !default;

.control {
    @include grouped($control-gap);

    position: relative;

    > .input + %addon {
        position: absolute;
        right: $padding-horizontal;
        top: calc(50% + #{$border-width * 2});
        transform: translateY(-100%);
    }
}
