@use "sass:selector" as *;

$field-gap: $gap / 2 !default;

.field {
    display: flex;
    gap: $field-gap;

    &:not(.is-wrapper) {
        flex-direction: column;
    }

    &.is-wrapper {
        align-items: center;
        flex-direction: row;
    }

    @at-root #{unify(&, "label")} {
        cursor: pointer;
        user-select: none;
    }

    label {
        user-select: none;

        &[for] {
            cursor: pointer;
        }
    }

    small {
        &.is-error {
            color: $red;
        }

        &.is-success {
            color: $green;
        }
    }
}
