$form-gap: $gap !default;
$form-color: $color !default;

form,
.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: $form-gap;
}

fieldset {
    padding: $gap;
    border: $border;
    border-radius: $radius-md;
}