@use "sass:selector";

$input-focus-border-color: $mono !default;

@mixin make-input($theme) {
    border-color: rgba($theme, 0.3);
    background-color: rgba($theme, 0.15);

    &:focus,
    &:active,
    &:focus-within {
        border-color: rgba($theme, 0.6);
    }

    &::placeholder {
        color: rgba($theme, 0.6);
    }
}

.input {
    @extend %control;

    transition: border ease 0.3s, background-color ease 0.3s;

    @at-root #{selector.unify("textarea", &)} {
        min-height: $height * 3;
        padding: $padding;
    }

    &:focus,
    &:active {
        border-color: $input-focus-border-color;
        z-index: 2;
    }

    &::placeholder {
        color: $gray;
    }

    &.is-error {
        @include make-input($red);
    }

    &.is-success {
        @include make-input($green);
    }
}
