$input-focus-shadow: $shadow !default;
$input-focus-border-color: $mono3 !default;

@mixin make-input($theme) {
    border-color: rgba($theme, 0.8);
    box-shadow: 0 0 0 0.2rem rgba($theme, 0.2);

    &:focus,
    &:active {
        border-color: rgba($theme, 0.5);
        box-shadow: 0 0 0 0.15rem rgba($theme, 0.1);
    }
}

.input {
    @extend %control;

    transition: box-shadow ease $transition-duration,
        border ease $transition-duration;

    &:focus,
    &:active {
        border-color: $input-focus-border-color;
        box-shadow: $input-focus-shadow;
        z-index: 2;
    }

    &.is-error {
        @include make-input($red);
    }

    &.is-success {
        @include make-input($green);
    }
}

textarea {
    min-height: $height * 3;
    resize: vertical;
}
