@use "sass:selector" as *;

$input-focus-border-color: $mono !default;

@mixin make-input($theme) {
    border-color: rgba($theme, 0.3);
    background-color: rgba($theme, 0.15);

    &:focus,
    &:active,
    &:focus-within {
        border-color: rgba($theme, 0.6);
    }

    &::placeholder {
        color: rgba($theme, 0.6);
    }
}

.input {
    @extend %control;

    transition: border ease 0.3s, background-color ease 0.3s;

    @at-root #{unify("textarea", &)} {
        min-height: $height * 3;
        padding: $padding;
    }

    @at-root #{unify("select", &)} {
        cursor: pointer;
    }

    &.is-borderless {
        padding: none;
        border: none;
    }

    &:focus,
    &:active,
    &:hover {
        border-color: $input-focus-border-color;
        z-index: 2;
    }

    &::placeholder {
        color: $gray;
    }

    &.is-error {
        @include make-input($red);
    }

    &.is-success {
        @include make-input($green);
    }
}
