$radio-size: 1.4rem !default;
$radio-stroke-size: 0.1rem !default;
$radio-background: none !default;
$radio-transition: border-color ease $transition-duration,
    background-color ease $transition-duration !default;

$radio-checked-color: $primary !default;
$radio-checked-background: rgba($radio-checked-color, 0.1) !default;

.radio {
    @extend %element;

    width: $radio-size;
    height: $radio-size;
    border: $border;
    appearance: none;
    border-radius: $radio-size;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    background-color: $radio-background;
    transition: $radio-transition;

    &::before {
        $radio-check-size: $radio-size / 2.2 !default;

        content: "";
        width: $radio-check-size / 2;
        height: $radio-check-size;
        border-right: solid $radio-stroke-size transparent;
        border-bottom: solid $radio-stroke-size transparent;
        transform-origin: right bottom;
        position: absolute;
        bottom: 50%;
        transform: rotate(45deg) translateY(60%);
    }

    &.is-active,
    &:checked {
        background-color: $radio-checked-background;
        border-color: $radio-checked-color;

        &::before {
            border-color: $radio-checked-color;
        }
    }
}
