$chip-height: 1rem !default;
$chip-color: $color !default;
$chip-border-color: $border-color !default;
$chip-padding: 0.2rem 0.6rem !default;
$chip-margin: 0.2rem !default;

@mixin make-chip($background: $primary) {
    $color: contrast-color($background);

    background-color: $background;
    border: none;
    color: $color;

    %icon {
        fill: $color;
    }
}

.chip {
    @extend %addonable;

    display: inline-flex;
    align-items: center;
    border: solid $border-width;
    border-color: $chip-border-color;
    border-radius: $chip-height;
    padding: $chip-padding;
    font-size: $size-small;
    transition: box-shadow ease $transition-duration;
    user-select: none;

    %icon {
        fill: $chip-color;

        &:first-child {
            margin-right: $chip-margin;
        }

        &:last-child {
            margin-left: $chip-margin;
        }

        &:first-child:last-child {
            margin: 0;
        }
    }

    &.is-primary {
        @include make-chip($primary);
    }

    &.is-success {
        @include make-chip($green);
    }

    &.is-error {
        @include make-chip($red);
    }
}

.chips {
    @include grouped($gap / 4);
}