$chip-height: 1.4rem !default;
$chip-color: $color !default;
$chip-border-color: $border-color !default;
$chip-padding-vertical: 0.2rem !default;
$chip-padding-horizontal: 0.5rem !default;
$chip-margin: $chip-padding-horizontal !default;
$chip-shadow: 0 0.2rem 0.6rem rgba($black, 0.05) !default;

.chip {
    @extend %addonable;
    @extend %element;

    height: $chip-height;
    display: inline-flex;
    align-items: center;
    border: solid $border-width;
    border-color: $chip-border-color;
    border-radius: $chip-height;
    padding: $chip-padding-vertical $chip-padding-horizontal;
    font-size: $font-size-xs;
    transition: box-shadow ease $transition-duration;
    user-select: none;
    gap: $chip-margin;

    .radio {
        &:first-child {
            margin-left: (-$chip-padding-horizontal / 2);
        }

        &:last-child {
            margin-right: (-$chip-padding-horizontal / 2);
        }
    }

    // colors

    @mixin make-chip($theme) {
        background-color: rgba($theme, 10%);
        border-color: transparent;
        color: darken($theme, 10%);
    }

    &.is-primary {
        @include make-chip($primary);
    }

    &.is-success {
        @include make-chip($green);
    }

    &.is-error {
        @include make-chip($red);
    }

    &.is-hoverable {
        cursor: pointer;

        &:hover {
            box-shadow: $chip-shadow;
        }

        &:active {
            box-shadow: none;
        }
    }
}
