%loader {
    @extend %addon;
}

@mixin make-loader($width, $theme: $mono6) {
    &::before {
        content: "";
        width: $width;
        height: $width;
        display: inline-flex;
        border: solid ($width / 8) rgba(black, 0.2);
        border-left-color: $theme;
        border-radius: 50%;
        animation: loader-animation linear 0.9s infinite;
    }
}

@keyframes loader-animation {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.loader {
    @extend %loader;

    display: inline-flex;

    &,
    &.is-small {
        @include make-loader(1rem);
    }
    
    &.is-normal {
        @include make-loader(3rem);
    }
    
    &.is-large {
        @include make-loader(8rem);
    }
}
