@keyframes loader-animation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@mixin make-loader($width, $theme: $color) {
    &::before {
        content: "";
        width: $width;
        height: $width;
        display: inline-flex;
        border: solid ($width / 8) $theme;
        border-left-color: rgba(black, 10%) !important;
        border-radius: 50%;
        animation: loader-animation linear 0.9s infinite;
        transform-origin: center center;
    }
}

.loader {
    display: inline-flex;

    &,
    &.is-small {
        @include make-loader(1rem);
    }

    &.is-normal {
        @include make-loader(3rem);
    }

    &.is-large {
        @include make-loader(8rem);
    }
}
