@use "../variables" as *;

html, body {
    font: $text-weight $text-size $text-family;
    background-color: $background-color;
    text-rendering: optimizeLegibility;
    color: $text-color;
    line-height: $text-height;
}

::placeholder {
    color: $gray;
    user-select: none;
}

a {
    text-decoration: none;
    color: currentColor;

    p &, small & {
        color: $primary;
        cursor: pointer;
        text-decoration: underline;
    }
}

small {
    display: block;
    font-size: $size-2;
    color: $dark;
}

hr {
    width: 100%;
    border: none;
    height: $border-width;
    background-color: $border-color;
}

code {
    display: inline-flex;
    font-weight: $mono-weight;
    font-family: $mono-family;
    font-size: $size-2;
}