// show

@media(max-width: $xl) {
    .show-xl {
        display: none !important;
    }
}

@media(max-width: $bg) {
    .show-bg {
        display: none !important;
    }
}

@media(max-width: $md) {
    .show-md {
        display: none !important;
    }
}

@media(max-width: $sm) {
    .show-sm {
        display: none !important;
    }
}

// hide

@media(min-width: $xl) {
    .hide-xl {
        display: none !important;
    }
}

@media(min-width: $bg) {
    .hide-bg {
        display: none !important;
    }
}

@media(min-width: $md) {
    .hide-md {
        display: none !important;
    }
}

@media(min-width: $sm) {
    .hide-sm {
        display: none !important;
    }
}
