.flexbox {
    width: 100%;
    display: flex;

    &.is-spaced {
        justify-content: space-between;
        align-items: center;
    }

    &.is-centered {
        justify-content: center;
        align-items: center;
    }
}
