$flex-gap: $gap / 3 !default;

.flex {
    width: 100%;
    display: inline-flex;
    
    &.is-spaced {
        justify-content: space-between;
        align-items: center;
    }

    &.is-centered {
        justify-content: center;
        align-items: center;
    }

    &:not(.is-stack) {
        &.in-left {
            justify-content: flex-start;
        }

        &.in-center {
            justify-content: center;
        }

        &.in-right {
            justify-content: flex-end;
        }

        &.in-top {
            align-items: flex-start;
        }

        &.in-middle {
            align-items: center;
        }

        &.in-bottom {
            align-items: flex-end;
        }
    }

    &.is-stack {
        flex-direction: column;

        &.in-left {
            align-items: flex-start;
        }

        &.in-right {
            align-items: flex-end;
        }
        
        &.in-center {
            align-items: center;
        }

        &.in-top {
            justify-content: flex-start;
        }

        &.in-middle {
            justify-content: center;
        }
        
        &.in-bottom {
            justify-content: flex-end;
        }
    }
}
