%text {
    @extend %sizable;

    transition: color ease $transition-duration;

    &.is-uppercase {
        text-transform: uppercase;
    }

    &.is-lowercase {
        text-transform: lowercase;
    }

    &.is-capitalize {
        text-transform: capitalize;
    }

    &.is-bold {
        font-weight: $font-weight-title;
    }

    &.is-link {
        color: $primary;
        cursor: pointer;

        &:hover {
            text-decoration: underline solid;
        }
    }

    &[disabled] {
        color: $gray;
        user-select: none;
        cursor: default;
    }
}

.text,
p,
small,
a,
label,
%title {
    @extend %text;
}

p a,
small a {
    @extend .is-link;
}

.text {
    @extend %addonable;

    display: inline-flex;
    align-items: center;
}
