$wrapper-gap: $gap / 2;

.wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: $wrapper-gap;

    &.is-spread {
        width: 100%;
        flex-wrap: nowrap;

        > %element {
            flex: auto;

            @media (max-width: $sm) {
                flex: auto;
            }
        }
    }

    > .is-spread {
        flex: 1;
    }
}
