$wrapper-gap: $gap / 2;

.wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: $wrapper-gap;

    &.is-spread {
        width: 100%;

        > %element {
            flex: 1;

            @media (max-width: $sm) {
                flex: auto;
            }
        }
    }

    &.is-attached {
        flex-wrap: nowrap;
        gap: 0;

        > %element {
            margin: 0;

            &:last-child:not(:first-child) {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }

            &:first-child:not(:last-child) {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }

            &:not(:last-child) {
                margin-right: -$border-width;

                &:not(:first-child) {
                    border-radius: 0;
                }
            }
        }
    }
}
